[Unit]
Description=Create xenbr0 interface systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /root/Network.sh

[Install]
WantedBy=multi-user.target
